.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 var(--application-padding);
  background-color: var(--color-light-100);
}

.content {
  overflow: hidden;
}

.prompt {
  font-size: var(--font-size-l);
}
