.button {
  all: unset;
  display: flex;
  padding: var(--spacing-s);
  border-radius: var(--radius-full);
}

.button:hover {
  background-color: var(--color-neutral-200);
}

.button:not(:disabled) {
  cursor: pointer;
}

.active-button {
  background-color: var(--color-neutral-300);
}
